/* 마이페이지 모달 스타일  */
.modal-box {
  width: 410px;
  height: 490px;
  position: absolute;
  top: 48%;
  left: 79.3%;
  transform: translate(-79.3%, -48%);
  border-radius: 15px;
  background: #fff;
  overflow: auto;
  box-shadow: rgba(255, 98, 111, 0.3) 0px 7px 29px 0px;
  -webkit-overflow-scrolling: "touch";
  outline: none;
  padding: 20px;
  text-align: center;
  z-index: 50;
}

.Overlay {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 1440px) {
  .modal-box {
    top: 48%;
    left: 82%;
    transform: translate(-82%, -48%);
  }
}

@media screen and (max-width: 1024px) {
  .modal-box {
    top: 48%;
    left: 88.3%;
    transform: translate(-88.3%, -48%);
  }
}

@media screen and (max-width: 768px) {
  .modal-box {
    top: 48%;
    left: 50%;
    transform: translate(-50%, -48%);
  }
}

@media screen and (max-width: 376px) {
  .modal-box {
    width: 350px;
    height: 550px;
  }
}

@media screen and (max-width: 321px) {
  .modal-box {
    width: 300px;
    height: 550px;
  }
}
